<div class="container">
  <form>
    <fieldset>
      <legend>Filters</legend>
      <label for="title">Title</label>
      <input #titleFilter type="text" name="title" (input)="filter(titleFilter.value, yearFilter.value)" />
      <label for="releaseDate">Release year</label>
      <input #yearFilter type="number" name="releaseDate" (input)="filter(titleFilter.value, yearFilter.value)" />
    </fieldset>
  </form>
  <div>
    {{(movies$ | async) | calculateNumberMovies}}
  </div>
  @for(movie of movies$ | async; track movie.id) {
  <div class="movie-item">
    <app-movie-item [movie]="movie" appHighlight />

    <div item-button>
      <button [routerLink]="'details/' + movie.id">Details</button>
    </div>
  </div>

  }
</div>